POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB=retailmart
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change_me
GCP_PROJECT_ID=your-project-id
GCS_BUCKET=your-unique-bucket
BQ_DATASET=retailmart_dw
GOOGLE_APPLICATION_CREDENTIALS=/absolute/path/key.json
